$mat-primary: (
  50 : #e1eaf0,
  100 : #b3cbda,
  200 : #81a8c1,
  300 : #4f85a8,
  400 : #296b95,
  500 : #035182,
  600 : #034a7a,
  700 : #02406f,
  800 : #023765,
  900 : #012752,
  A100 : #85b3ff,
  A200 : #5293ff,
  A400 : #1f74ff,
  A700 : #0564ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
// - accent
$mat-accent: (
    50 : #e0f7fa,
    100 : #b3ebf2,
    200 : #80deea,
    300 : #4dd0e1,
    400 : #26c6da,
    500 : #00bcd4,
    600 : #00b6cf,
    700 : #00adc9,
    800 : #00a5c3,
    900 : #0097b9,
    A100 : #e2f9ff,
    A200 : #afeeff,
    A400 : #7ce3ff,
    A700 : #63ddff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
